## Initial EDA

### Imports and data load

In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import os

In [49]:
input_path = '../data/input'

# Convert each csv file in input folder to dataframe and store as key value pair (name: dataframe)
dataframes = {
    filename.replace('olist_', '').replace('_dataset.csv', '').replace('.csv', ''): pd.read_csv(os.path.join(input_path, filename))
    for filename in os.listdir(input_path)
    if filename.endswith('.csv')
}

# Assign each DataFrame to a separate variable dynamically
for name, dataframe in dataframes.items():
    locals()[name] = dataframe
    print(name)

sellers
marketing_qualified_leads
product_category_name_translation
orders
order_items
customers
geolocation
order_payments
closed_deals
order_reviews
products

### Dataset lengths and number of empty values

In [50]:
dfs = [
    sellers,
    marketing_qualified_leads,
    product_category_name_translation,
    orders,
    order_items,
    customers,
    geolocation,
    order_payments,
    closed_deals,
    order_reviews,
    products
]

In [51]:
titles = [
    'sellers',
    'marketing_qualified_leads',
    'product_category_name_translation',
    'orders',
    'order_items',
    'customers',
    'geolocation',
    'order_payments',
    'closed_deals',
    'order_reviews',
    'products'
]

In [54]:
# To gather practical information about all datasets 
info_df = pd.DataFrame({},)
info_df['dataset']= titles
info_df['cols'] = [', '.join([col for col, null in df.isnull().sum().items() ]) for df in dfs]
info_df['cols_no'] = [df.shape[1] for df in dfs]
info_df['length'] = [len(df) for df in dfs]
info_df['null_no'] = [df.isnull().sum().sum() for df in dfs]
info_df['null_cols_no'] = [len([col for col, null in df.isnull().sum().items() if null > 0]) for df in dfs]
info_df['null_cols'] = [', '.join([col for col, null in df.isnull().sum().items() if null > 0]) for df in dfs]


info_df.style.background_gradient(cmap='plasma')